<div class="center jumbotron">
  <h1>Welcome to the Destiny Clan Site</h1>

  <h2>
    Select the console you use to play Destiny
  </h2>

  <%= link_to "XBOX", '#', class: "btn btn-lg btn-success" %>
  <%= link_to "PlayStation", '#', class: "btn btn-lg btn-primary" %>

</div>