<footer class="footer">
  <small>
    © 2016 StellarPistol Games</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://www.bungie.net/">News</a></li>
    </ul>
  </nav>
</footer>